body {
	
	--red: #E44331;
	--red2: #C63F5A;
	--pink: #E7808F;
	--light-pink: #F8DAE0;
	--light-blue: #6DB7D8;
	--blue: #007FC5;
	--blue2: #0097D6;
	--alt-blue: #346988;
	--orange: #F79E1C;
	--teal: #2D6372;
	--green: #3A4C36;
	--dark-green: #1B2B1C;
	--background-blue: #DFF0FA;
	--dark: #1C2C1D;

	--color-1: var(--blue);
	--color-2: var(--red2);
	--color-3: var(--light-blue);
	--color-4: var(--pink);
	--color-5: var(--blue2);

	font-family: azo-sans-web, sans-serif;
}

.branding .logo {
	margin: 35px 0;
}

.branding .logo .logo__logo {
	max-height: 100px;

}

/* Nav item ::afters */
.mac-menu > ul > li.menu-item:nth-child(1) > a::after {
	background: var(--color-1);
}
.mac-menu > ul > li.menu-item:nth-child(2) > a::after {
	background: var(--color-2);
}
.mac-menu > ul > li.menu-item:nth-child(3) > a::after {
	background: var(--color-3);
}
.mac-menu > ul > li.menu-item:nth-child(4) > a::after {
	background: var(--color-4);
}
.mac-menu > ul > li.menu-item:nth-child(5) > a::after {
	background: var(--color-5);
}

/* Active nav item backgrounds */
.mac-menu > ul > li:nth-child(1).active {
	background: var(--color-1);
}.mac-menu > ul > li:nth-child(2).active {
	background: var(--color-2);
}.mac-menu > ul > li:nth-child(3).active {
	background: var(--color-3);
}.mac-menu > ul > li:nth-child(4).active {
	background: var(--color-4);
}.mac-menu > ul > li:nth-child(5).active {
	background: var(--color-5);
}

/* Mega-menu backgrounds */
.mac-menu > ul > li:nth-child(1) ul {
	background: var(--color-1);
}
.mac-menu > ul > li:nth-child(1) .tagline1 {
	background: var(--color-3);
}.mac-menu > ul > li:nth-child(1) .tagline2 {
	background: var(--color-4);
}.mac-menu > ul > li:nth-child(1) .tagline3 {
	background: var(--color-5);
}

.mac-menu > ul > li:nth-child(2) .mega-menu ul {
	background: var(--color-2);
}
.mac-menu > ul > li:nth-child(2) .tagline1 {
	background: var(--color-1);
}.mac-menu > ul > li:nth-child(2) .tagline2 {
	background: var(--color-4);
}.mac-menu > ul > li:nth-child(2) .tagline3 {
	background: var(--color-5);
}

.mac-menu > ul > li:nth-child(3) .mega-menu ul {
	background: var(--color-3);
}
.mac-menu > ul > li:nth-child(3) .tagline1 {
	background: var(--color-1);
}.mac-menu > ul > li:nth-child(3) .tagline2 {
	background: var(--color-2);
}.mac-menu > ul > li:nth-child(3) .tagline3 {
	background: var(--color-5);
}

.mac-menu > ul > li:nth-child(4) .mega-menu ul {
	background: var(--color-4);
}
.mac-menu > ul > li:nth-child(4) .tagline1 {
	background: var(--color-1);
}.mac-menu > ul > li:nth-child(4) .tagline2 {
	background: var(--color-2);
}.mac-menu > ul > li:nth-child(4) .tagline3 {
	background: var(--color-3);
}

.mac-menu > ul > li:nth-child(5) .mega-menu ul {
	background: var(--color-5);
}
.mac-menu > ul > li:nth-child(5) .tagline1 {
	background: var(--color-1);
}.mac-menu > ul > li:nth-child(5) .tagline2 {
	background: var(--color-2);
}.mac-menu > ul > li:nth-child(5) .tagline3 {
	background: var(--color-3);
}

/* Events Area */
.featured-event {
	background: var(--blue);
}

.upcoming-events {
	background: var(--background-blue);
}
.upcoming-events .date {
	color: var(--teal);
}
.upcoming-events .event-details h3 a{
	color: var(--teal);
}

.subfeature-module .more {
	color: var(--pink);
}
.flex-subfeatures {
	/* background: var(--dark); */
}

.news.container-fluid .text-right a {
	color: var(--red);
}

/* Footer background colors */

.site-footer .footer-flex .footer-left {
	background: var(--alt-blue);
}
.site-footer .footer-nav ul li a {
	color: var(--light-pink);
}
.site-footer .footer-nav ul li a:hover {
	color: var(--pink);
}
.site-footer .footer-flex .footer-right {
	background: var(--dark);
}
.site-footer .footer-flex .footer-right h4 {
	color: var(--light-blue);
}

.site-footer .pre-footer .pre-footer-right {
	background: var(--background-blue);
}
/* Page colors */

.page .page-content h2 {
	color: var(--teal);
}

.page .page-content .roster-section h2 {
	color: white;
}


a {
	color: var(--light-blue);
}

.gallery .gallery-item:nth-child(5n+1) .gallery-icon::after {
	background: var(--color-1);
}.gallery .gallery-item:nth-child(5n+2) .gallery-icon::after {
	background: var(--color-2);
}.gallery .gallery-item:nth-child(5n+3) .gallery-icon::after {
	background: var(--color-3);
}.gallery .gallery-item:nth-child(5n+4) .gallery-icon::after {
	background: var(--color-4);
}.gallery .gallery-item:nth-child(5n+5) .gallery-icon::after {
	background: var(--color-5);
}

/* News and Search */

.archive .search-term,
.search .search-term {
	color: var(--orange);
}

.archive .btn {
	color: var(--blue);
	border-color: var(--blue);
}

.single .meta {
	background: var(--teal);
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}